{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Réservations</h1>
        <a href="{{ path('app_booking_new') }}" class="btn btn-success">Nouvel Reseravtion</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.titre }}</td>
                    <td>{{ booking.debut ? booking.debut|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ booking.fin ? booking.fin|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_booking_show', {'id': booking.id}) }}">afficher</a>
                        <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas de réservation !</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        
    </div>
{% endblock %}
