{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <div class="container">
        <h1>Services</h1>
        <a href="{{ path('app_massage_new') }}" class="btn btn-success">Nouveau Service</a>
        <table class="table table-">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Durée</th>
                    <th>Prix</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for massage in massages %}
                <tr>
                    <td>{{ massage.titre }}</td>
                    <td>{{ massage.duree }}</td>
                    <td>{{ massage.prix }}</td>
                    <td>
                        <a href="{{ path('app_massage_show', {'id': massage.id}) }}">Afficher</a>
                        <a href="{{ path('app_massage_edit', {'id': massage.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas de services encore !</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
