{% extends 'base.html.twig' %}

{% block title %} Réserver vos soins {% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/meeting.css')}}">{% endblock %}

{% block body %}

    <!-- HEADER RDV -->
    <header id="meetingHeader">

        <!-- Container texte -->
        <div id="meetingContainer">
            <h2 class="title meetingTitle">Prenez rendez-vous en ligne.</h2>
            <p>Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero ab atque velit quo
                ipsam repudiandae.</p>
        </div>

    </header>

    <!-- EXPLICATION RDV -->
    <section id="meetingExplain">

        <!-- Titre -->
        <h3 class="titleThree">Quelques recommandations pour le bon déroulement de votre rendez-vous...</h3>

        <!-- Texte explication rdv -->
        <div id="meetingText">
            <p class="paragraphType">Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero
                ab atque velit quo
                ipsam repudiandae. Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero ab
                atque velit quo ipsam repudiandae.</p>
            <img src="{{asset('assets/img/illustration/womanBack.svg')}}" alt="illustration en ligne d'une femme de dos nu">
            <p class="paragraphType">Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero
                ab atque velit quo
                ipsam repudiandae. Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero ab
                atque velit quo ipsam repudiandae.</p>
        </div>

    </section>

    <section>

<!-- offres 1  -->
 <div style="text-align: center;" >
  <h2>La madérothérapie </h2>
  <div class="list-group">
    <div class="list-group-item d-flex justify-content-between align-items-center" data-id= "1"  data-url="{{ path('getCalendar', {'pid': "1"}) }}">
            <div>
                <h3 class="titleThree"> Un soin Corps</h3>        
                <p class="paragraphType">Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero ab atque velit quo ipsam repudiandae</p>
            </div>
            <div>
                <div><span class="badge badgeOffre" > 60€ </span></div>
                <div><span class="badge badgeOffre"> 50min </span></div>
            </div>
    </div>
    <div class="list-group-item d-flex justify-content-between align-items-center"  data-id= "1"  data-url="{{ path('getCalendar', {'pid': "1"}) }}">
            <div>
                <h3 class="titleThree"> Un soin Corps</h3>        
                <p class="paragraphType">Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero ab atque velit quo ipsam repudiandae</p>
            </div>
            <div>
                <div><span class="badge badgeOffre" > 60€ </span></div>
                <div><span class="badge badgeOffre"> 50min </span></div>
            </div>
    </div>

    <div class="list-group-item d-flex justify-content-between align-items-center"  data-id= "1"  data-url="{{ path('getCalendar', {'pid': "1"}) }}">
            <div>
                <h3 class="titleThree"> Un soin Corps</h3>        
                <p class="paragraphType">Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero ab atque velit quo ipsam repudiandae</p>
            </div>
            <div>
                <div><span class="badge badgeOffre" > 60€ </span></div>
                <div><span class="badge badgeOffre"> 50min </span></div>
            </div>
        </div>
    </div>

  </div>
 </div>



    </section>

    <!-- PRISE RDV -->
    <section id="meeting">

        <!-- Titre -->
        <h3 class="titleThree">Retrouvez les dates disponibles pour votre soin</h3>

    </section>

{% endblock %}




