{% extends 'base.html.twig' %}

{% block title %}Panier !{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="color-vert">Votre panier</h3>
        <div>
            <table class="table table-bordered border-vert">
                <tbody>
                    {% set total = 0 %}
                    {% for booking in bookings %}
                        {% set massage = booking.service %}
                        {% set total = total + massage.prix %}
                        <tr>
                            <td>
                               {{ massage.titre }} de {{ massage.duree }}min -  {{ massage.prix }}€
                               <br />
                               {{ booking.debut | date('d/m/Y - H:i') }} 
                            </td>
                            <td>
                                <a href="#" class="color-vert">Dupliquer</a>
                            </td>
                            <td>
                                <a href="{{ path('app_massage_edit', {'id': massage.id}) }}" class="color-vert">Modifier</a>
                            </td>
                            <td>
                                 {{ include('massage/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    
                    <tr>
                    <td>
                        Total : {{ total }} €
                    </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
